[submodule "optimizing-pda-compiler"]
	path = optimizing-pda-compiler
	url = git@github.com:danking/optimizing-pda-compiler.git
[submodule "semantics"]
	path = semantics
	url = git@github.com:danking/pda-risc-semantics.git
[submodule "pda-to-pda-risc"]
	path = pda-to-pda-risc
	url = git@github.com:danking/pda-to-pda-risc.git
[submodule "racket-utils"]
	path = racket-utils
	url = git@github.com:danking/racket-utils.git
[submodule "cfa2"]
	path = cfa2
	url = git@github.com:danking/pda-flow-analysis.git
[submodule "performance-measurements"]
	path = performance-measurements
	url = git@github.com:danking/PDA-Flow-Analysis-Performance-Measurements.git
[submodule "cfa2-results-analysis"]
	path = cfa2-results-analysis
	url = git@github.com:danking/secondary-analysis.git
[submodule "cfa2-analyses"]
	path = cfa2-analyses
	url = git@github.com:danking/pda-flow-analysis-instantiations.git
